name: AVD Terraform Plan
on:
 workflow_dispatch:
permissions:
 contents: read
jobs:
 terraform-plan:
   runs-on: ubuntu-latest
   env:
     ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
     ARM_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
     ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
     ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
   steps:
   - uses: actions/checkout@v4
   - uses: hashicorp/setup-terraform@v3
   - run: terraform fmt -check -recursive
   - run: terraform init 
   - run: terraform validate
   - name: Terraform Plan
     run: |
       terraform plan -out=tfplan -var-file="terraform.tfvars"
       terraform show tfplan > tfplan.txt
   - uses: actions/upload-artifact@v4
     with:
       name: terraform-plan
       path: tfplan
             tfplan.txt
