name: AVD FBM Terraform Apply
on:
 workflow_dispatch:
permissions:
 contents: read
jobs:
 terraform-apply:
   runs-on: ubuntu-latest
   env:
     ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
     ARM_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
     ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
     ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
   steps:
   - uses: actions/checkout@v4
   - uses: hashicorp/setup-terraform@v3
   - run: terraform init -backend-config="key=avd-fbmtest.tfstate"
   - name: Terraform Apply
     run: terraform apply -auto-approve -var-file="terraform.tfvars"
